<html>
  <head>
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/92262e25-2894-4225-9550-00ba8ee723de/8E92F41D-C715-4888-B00F-E1ECA5DF168F.jpeg?v=1651262281033" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unblocking At It's Core</title>
  </head>
  <body>
    <div class="context">
      <header>
        <div class="navbar">
          <div class="navitem">
            <a href="/">Home</a>
          </div>
					<div class="navitem" style="float: center;">
            <a href="/unblock">Unblock</a>
          </div>
          <div class="navitem">
            <a href="/games">Games</a>
          </div>

          <div class="navitem" style="float: right">
            <a href="discord.gg/AmongUs">Discord</a>
          </div>
          <div class="navitem" style="float: right">
            <a href="/appearance"> Settings </a>
          </div>
        </div>
      </header>
      <h1
        style="
          position: fixed;
          top: 15%;
          left: 43%;
          margin-top: 0px;
          margin-left: -50px;
          font-size: 70px;
        "
      >
        Games
      </h1>
      <div class="Games">
        <div class="Game">
          <img src="https://cdn.glitch.global/92262e25-2894-4225-9550-00ba8ee723de/edf4f4ba-3a12-4d80-b94a-5e01ad599529.image.jpeg?v=1651266865173" width="50px">
        </div>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
