<html>
  <head>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Cyclone</title>
	</head>
  <body>
    <div class="context">
      <header>
        <div class="navbar">
          <div class="navitem">
            <a href="/">Home</a>
          </div>
          <div class="navitem" style="float: center;">
            <a href="/unblock">Unblock</a>
          </div>
          <div class="navitem">
            <a href="/games">Games</a>
          </div>
          
          <div class="navitem" style="float: right;">
            <a href="discord.gg/AmongUs">Discord</a>
          </div>
          
          <div class="navitem" style="float: right;">
            <a href="/appearance"> Settings </a>
          </div>
        </div>
      </header>
      
      <input id="url">

    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="/assets/js/script.js"></script>
  </body>
</html>